.form__background {
    position: fixed;
    z-index: 100;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease;
}

.form {
    width: 490px;
    background-color: #fefced;
    padding: 30px 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.form__title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
}

.form__inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

.form__input {
    border-radius: 2px;
    border: 1px solid #001c08;
    background: #fff;
    font-size: 18px;
    padding: 15px;
}

.form__buttons {
    display: flex;
    justify-content: space-between;
}

.form__button_send {
    cursor: pointer;
    border-radius: 2px;
    display: flex;
    width: 216px;
    padding: 15px 10px;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background: #333;
    color: #fff;
}

.form__button_send:hover {
    border: 1px solid #001c08;
    background: #fff;
    color: #001c08;
}

.form__button_cancel {
    cursor: pointer;
    border-radius: 2px;
    display: flex;
    width: 216px;
    padding: 15px 10px;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border: 1px solid #001c08;
    background: #fff;
    color: #001c08;
}

.form__button_cancel:hover {
    border: none;
    background: #333;
    color: #fff;
}

@media (max-width: 500px) {
    /* .cart__title {
        font-size: 26px;
    } */
    .form__background {
        position: fixed;
        z-index: 100;
        background-color: #fefced;
        /* top: 88px; */
        top: 130px;
        left: 0;
        width: 100%;
        height: calc(100% - 83px);
        transition: all 0.2s ease;
    }
    .form {
        /* margin-top: 82px; */
        padding: 36px 16px 24px;
        width: 100%;
        /* height: calc(100%-50px); */
    }

    .form__buttons {
        flex-direction: column;
        gap: 16px;
        position: fixed;
        bottom: 120px;
        width: 100%;
    }

    .form__button_send,
    .form__button_cancel {
        width: 91%;
    }

    .form__body {
        height: calc(100vh - 205px);
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    .form__button_cancel:hover {
        border: 1px solid #001c08;
        background: #fff;
        color: #001c08;
    }

    .form__button_send:hover {
        border: none;
        background: #333;
        color: #fff;
    }
}
