.item {
    max-width: 364px;
}

.item__img {
    display: block;
    margin-bottom: 15px;
}

.item__img img {
    width: 363px;
}

.item__name {
    font-size: 20px;
    margin-bottom: 15px;
}

.item__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.item__price {
    font-size: 24px;
}

.item__weight {
    font-size: 24px;
    color: #828282;
}

.item__button {
    cursor: pointer;
    font-size: 24px;
    color: #ffffff;
    background-color: #000000;
    width: 100%;
    padding: 15px 10px;
    border-radius: 2px;
    border: 1px solid #000000;
    transition: all 0.3s ease;
}

.item__button:hover {
    color: #000000;
    background-color: #ffffff;
}
