.item {
    max-width: 364px;
}

.item__img {
    display: block;
    margin-bottom: 15px;
}

.item__img img {
    width: 363px;
}

.item__name {
    font-size: 20px;
    margin-bottom: 15px;
}

.item__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.item__price {
    font-size: 24px;
}

.item__weight {
    font-size: 24px;
    color: #828282;
}

.item__button {
    cursor: pointer;
    font-size: 24px;
    color: #ffffff;
    background-color: #000000;
    width: 100%;
    padding: 15px 10px;
    border-radius: 2px;
    border: 1px solid #000000;
    transition: all 0.3s ease;
}

.item__button:hover {
    color: #000000;
    background-color: #ffffff;
}

@media (max-width: 1550px) {
    .item {
        width: 300px;
    }
    .item__img img {
        width: 100%;
    }
}

@media (max-width: 1340px) {
    .item {
        width: 270px;
    }
}

@media (max-width: 1200px) {
    .item {
        width: 240px;
    }

    .item__name {
        font-size: 18px;
    }

    .item__price,
    .item__weight {
        font-size: 20px;
    }
}

@media (max-width: 1100px) {
    .item {
        width: 210px;
    }

    .item__button {
        font-size: 20px;
    }
}

@media (max-width: 940px) {
    .item {
        width: 180px;
    }
    .item__name {
        font-size: 16px;
    }

    .item__price,
    .item__weight {
        font-size: 16px;
    }

    .item__button {
        font-size: 16px;
    }
}

@media (max-width: 800px) {
    .item {
        width: 210px;
    }

    .item__button:hover {
        color: #ffffff;
        background-color: #000000;
    }
}

@media (max-width: 700px) {
    .item {
        width: 180px;
    }
}

@media (max-width: 600px) {
    .item {
        width: 220px;
    }
}

@media (max-width: 500px) {
    .item {
        width: 190px;
    }
}

@media (max-width: 430px) {
    .item {
        width: 164px;
    }
}
