.complete__background {
    position: fixed;
    z-index: 100;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease;
}

.complete {
    width: 490px;
    background-color: #fefced;
    padding: 30px 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.complete__logo {
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
}

.complete__text {
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 500;
    line-height: 140%;
    text-align: center;
}

.complete__button {
    padding: 15px 10px;
    cursor: pointer;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background: #333;
    color: #fff;
    width: 100%;
}

.complete__button:hover {
    border: 1px solid #001c08;
    background: #fff;
    color: #001c08;
    padding: 14px 10px;
}

@media (max-width: 500px) {
    .complete__background {
        position: fixed;
        z-index: 300;
        background: #fefced;
        top: 85px;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.2s ease;
        overflow: hidden;
    }
    .complete {
        /* padding: 140px 16px 190px; */
        padding: 140px 16px 0px;

        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .complete__body {
    }

    .complete__button:hover {
        border: none;
        background: #333;
        color: #fff;
        padding: 15px 10px;
    }

    .complete__logo {
        margin-bottom: 42px;
    }

    .complete__logo img {
        width: 180px;
        height: 140px;
    }

    .complete__text {
        font-size: 20px;
    }

    .complete__button {
        position: fixed;
        bottom: 120px;
        font-size: 16px;
        width: 92%;
        left: 18px;
    }
}
