.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0 8px;
    max-width: 1507px;
}

.header__hr {
    max-width: 1507px;
}

.header__fixed {
    position: fixed;
    top: 0;
    /* left: 0; */
    width: 100%;
    z-index: 200;
    background-color: #fefced;
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 78.5px;
    margin-right: 127px;
    position: relative;
}

.header__nav a {
    font-size: 20px;
    color: #000000;
    transition: all 0.3 ease;
}

.header__nav a:hover,
.header__nav_btn:hover {
    text-decoration: underline;
}

.header__nav_btn {
    position: relative;
    cursor: pointer;
    background-color: #fefced;
    font-size: 20px;
    font-family: 'Noto Serif', serif;
}

.header__nav_btn_badge {
    position: absolute;
    top: 2px;
    right: -32px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #304f40;
    font-size: 14px;
    font-weight: 600;
    line-height: 100%;
    color: #ffffff;
}

.header__burger {
    display: none;
}

.header__burger button {
    cursor: pointer;
    background-color: #fefced;
}

.header__burger_menu {
    display: none;
}

@media (max-width: 1550px) {
    .header__fixed {
        width: 93.6%;
    }

    .header__hr {
        max-width: none;
        width: 150%;
        left: -100px;
        position: absolute;
    }
}

@media (max-width: 1250px) {
    .header__nav {
        margin-right: 0px;
        max-width: 600px;
        gap: 74.5px;
    }

    .header__fixed {
        width: 92%;
    }
}

@media (max-width: 1100px) {
    .header__nav {
        max-width: 430px;
        gap: 32px;
    }
    .header__nav_btn_badge {
        right: -25px;
    }

    .header__fixed {
        width: 91%;
    }
}

@media (max-width: 1100px) {
    .header__fixed {
        width: 95%;
    }
}

@media (max-width: 800px) {
    .header__nav {
        gap: 40px;
    }

    .header__burger {
        display: block;
    }

    .header__nav {
        display: none;
    }
    .header__burger_menu {
        height: calc(100vh-50px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 83px;
        z-index: 100;
    }
    .header__nav_mobile {
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: flex-end;
        margin-top: 34px;
    }

    .header__nav_mobile a {
        font-size: 48px;
        font-weight: 300;
        color: #000000;
        text-transform: uppercase;
    }

    .header__nav_mobile_btn {
        color: #282828;
        cursor: pointer;
        background-color: #fefced;
        font-size: 48px;
        font-weight: 300;
        font-family: 'Noto Serif', serif;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .footer__nav {
        display: flex;
        justify-content: space-between;
    }

    .footer__text {
        color: #282828;
        background-color: #fefced;
        font-size: 16px;
        line-height: 140%;
        text-transform: uppercase;
        cursor: pointer;
    }
    .footer__text_underline {
        color: #282828;
        background-color: #fefced;
        font-size: 16px;
        line-height: 140%;
        text-transform: uppercase;
        cursor: pointer;
        text-decoration: underline;
    }

    .header__nav_btn_badge {
        position: relative;
        top: 0px;
        right: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: #304f40;
        font-size: 14px;
        font-weight: 600;
        line-height: 100%;
        color: #ffffff;
    }

    .footer__langueges {
        display: flex;
        gap: 10px;
    }
}
