.item {
    margin: 120px 0 150px;
    display: flex;
    gap: 145px;
}

.item__img img {
    height: 600px;
    width: 600px;
}

.item__name {
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 6px;
}

.item__info {
    max-width: 617px;
}

.item__flex {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.item__price {
    font-size: 28px;
    font-weight: 400;
    line-height: 140%;
}

.item__weight {
    color: #585858;
    font-size: 28px;
    line-height: 140%;
    margin-right: 32px;
}

.item__count {
    border: 1px solid #000;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.item__count_btn {
    color: #282828;
    background-color: #fefced;
    cursor: pointer;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.item__count_qty {
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.item__description {
    font-size: 20px;
    line-height: 140%;
    margin-bottom: 71px;
}

.item__button {
    cursor: pointer;
    padding: 15px;
    text-align: center;
    width: 100%;
    background-color: #000000;
    color: #fff;
    font-size: 24px;
    text-transform: capitalize;
    margin-bottom: 24px;
    border-radius: 2px;
    border: 2px solid #000000;
    transition: all 0.3s ease;
}

.item__button:hover {
    background-color: #ffffff;
    color: #000000;
}

.item__details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item__details_text {
    font-size: 24px;
    line-height: 140%;
    text-transform: uppercase;
}

.item__details_btn {
    /* width: 50px; */
    padding-left: 30px;
    cursor: pointer;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #fefced;
    transition: all 0.3s ease;
}

.item__details_btn img {
    transition: all 0.3s ease;
}

.active {
    transform: rotate(-180deg);
}

.item__details_body {
    margin-top: 15px;
    max-width: 617px;
    word-break: break-all;
    position: absolute;
}

@media (max-width: 1400px) {
    .item {
        gap: 100px;
    }
    .item__img img {
        height: 500px;
        width: 500px;
    }
}

@media (max-width: 1100px) {
    .item {
        gap: 50px;
        margin-bottom: 100px;
    }
    .item__img img {
        height: 400px;
        width: 400px;
    }

    .item__description {
        font-size: 18px;
        margin-bottom: 40px;
    }

    .item__name {
        font-size: 36px;
    }

    .item__details_text {
        font-size: 20px;
    }
}

@media (max-width: 850px) {
    .item {
        gap: 30px;
        margin-bottom: 80px;
    }
    .item__img img {
        height: 300px;
        width: 300px;
    }

    .item__button:hover {
        background-color: #000000;
        color: #fff;
    }
}

@media (max-width: 680px) {
    .item {
        flex-direction: column;
        margin-bottom: 50px;
    }
    .item__img {
        display: flex;
        justify-content: center;
    }
    .item__img img {
        height: 370px;
        width: 450px;
    }
}

@media (max-width: 500px) {
    .item__img img {
        height: 100;
        width: 100%;
    }
}
