.footer {
    padding: 50px 0 100px;
    display: flex;
    justify-content: space-between;
}

.footer__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__title {
    font-size: 40px;
    text-transform: uppercase;
}

.footer__nav {
    display: flex;
    gap: 240px;
    align-items: center;
}

.footer__text {
    background-color: #fefced;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
}

.footer__span {
    font-size: 24px;
    text-transform: uppercase;
}

.footer__right {
    width: 744px;
}

.footer__contacts:not(:last-child) {
    margin-bottom: 50px;
}

.footer__contacts_title {
    font-size: 24px;
    font-weight: 600;
    line-height: 140%;
    margin-bottom: 20px;
}

.footer__contacts_text {
    font-size: 20px;
    line-height: 140%;
}

.footer__contacts_link {
    display: block;
    font-size: 20px;
    line-height: 140%;
    text-decoration-line: underline;
}

.footer__langueges button:nth-child(1) {
    text-decoration: underline;
}

.footer__nav_mobile {
    display: none;
}

@media (max-width: 1350px) {
    .footer__left {
        width: 300px;
    }

    .footer__nav {
        gap: 0px;
        justify-content: space-between;
    }
}

@media (max-width: 1250px) {
    .footer__right {
        width: 600px;
    }

    .footer__title {
        font-size: 36px;
    }
}

@media (max-width: 1100px) {
    .footer__right {
        width: 430px;
    }

    .footer__title {
        font-size: 32px;
    }
}

@media (max-width: 950px) {
    .footer__title {
        font-size: 28px;
    }
}

@media (max-width: 800px) {
    .footer__title {
        font-size: 24px;
    }
    .footer__right {
        width: 370px;
    }

    .footer__contacts_title {
        font-size: 20px;
    }

    .footer__contacts_text,
    .footer__contacts_link {
        font-size: 16px;
    }

    .footer__nav {
        display: block;
    }

    .footer__nav a {
        display: block;
        margin-bottom: 40px;
        text-decoration: underline;
    }
}

@media (max-width: 500px) {
    .footer__title {
        font-size: 20px;
    }

    .footer__nav {
        display: none;
    }

    .footer__nav_mobile {
        display: flex;
        justify-content: space-between;
    }

    .footer__nav_mobile a {
        text-decoration: underline;
    }

    .footer {
        flex-direction: column;
        gap: 30px;
    }

    .footer__contacts:not(:last-child) {
        margin-bottom: 30px;
    }

    .footer {
        padding: 30px 0 50px;
    }
}
