.footer {
    padding: 50px 0 100px;
    display: flex;
    justify-content: space-between;
}

.footer__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__title {
    font-size: 40px;
    text-transform: uppercase;
}

.footer__nav {
    display: flex;
    gap: 240px;
}

.footer__text {
    background-color: #fefced;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
}

.footer__span {
    font-size: 24px;
    text-transform: uppercase;
}

.footer__right {
    width: 744px;
}

.footer__contacts:not(:last-child) {
    margin-bottom: 50px;
}

.footer__contacts_title {
    font-size: 24px;
    font-weight: 600;
    line-height: 140%;
    margin-bottom: 20px;
}

.footer__contacts_text {
    font-size: 20px;
    line-height: 140%;
}

.footer__contacts_link {
    display: block;
    font-size: 20px;
    line-height: 140%;
    text-decoration-line: underline;
}
