body {
    font-weight: 400;
    color: #000000;
    font-family: 'Noto Serif', serif;
    background-color: #fefced;
}

.container {
    max-width: 1507px;
    margin: 0 auto;
}

.active {
    text-decoration: underline;
}
