body {
    font-weight: 400;
    color: #000000;
    font-family: 'Noto Serif', serif;
    background-color: #fefced;
}

.container {
    max-width: 1507px;
    margin: 0 auto;
    position: relative;
}

.active {
    text-decoration: underline;
}

.hidden {
    overflow: hidden;
}

@media (max-width: 1550px) {
    .container {
        margin: 0 50px;
    }
}

@media (max-width: 1000px) {
    .container {
        margin: 0 25px;
    }
}

@media (max-width: 500px) {
    .container {
        margin: 0 18px;
    }
}
